<form method="get" action="{{ path('produit_liste') }}" class="form-row align-items-center mb-4">
    <div class="row g-2 mb-3">
        <div class="col">
            <input type="text" name="search" class="form-control" placeholder="Nom du produit" value="{{ app.request.get('search') }}">
        </div>
        <div class="col">
            <input type="text" name="auteur" class="form-control" placeholder="Auteur" value="{{ app.request.get('auteur') }}">
        </div>
        <div class="col">
            <input type="number" name="minPrice" class="form-control" placeholder="Prix min" value="{{ app.request.get('minPrice') }}">
        </div>
        <div class="col">
            <input type="number" name="maxPrice" class="form-control" placeholder="Prix max" value="{{ app.request.get('maxPrice') }}">
        </div>
        <div class="col">
            <select name="etat" class="form-select">
                <option value="">État</option>
                <option value="disponible" {% if app.request.get('etat') == 'disponible' %}selected{% endif %}>Disponible</option>
                <option value="indisponible" {% if app.request.get('etat') == 'indisponible' %}selected{% endif %}>Indisponible</option>
            </select>
        </div>
        <div class="col">
            <select name="categorie" class="form-select">
                <option value="">Toutes les catégories</option>
                {% for categorie in categories %}
                    <option value="{{ categorie.id }}" {% if app.request.get('categorie') == categorie.id %}selected{% endif %}>{{ categorie.nom }}</option>
                {% endfor %}
            </select>
        </div>


    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <button type="submit" class="btn btn-primary rounded">RECHERCHER</button>
        </div>
    </div>
</form>
