{% extends 'base.html.twig' %}

{% block title %}
    Liste des Catégories
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="mb-0">Liste Des Catégories</h2>
            <a class="btn btn-outline-secondary rounded" href="{{ path('categorie_new') }}">
                <i class="bi bi-plus-circle"></i> Ajouter une catégorie
            </a>
        </div>

        <div class="card shadow-sm border-0">
            <div class="card-body">
                <table class="table table-hover" style="background-color: rgb(243, 242, 236);">
                    <thead>
                    <tr>
                        <th>Nom de la catégorie</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for categorie in categories %}
                        <tr>
                            <td>{{ categorie.nom }}</td>
                            <td>{{ categorie.description }}</td>
                            <td>
                                <a href="{{ path('produit_liste', { 'categorie': categorie.id }) }}">Voir les produits</a>|
                                <a href="{{ path('categorie_new', {'categorie': categorie.id}) }}" class="text-warning fw-semibold">Modifier</a> |
                                <a onclick="return confirm('Voulez-vous vraiment supprimer cette catégorie ?')" href="{{ path('categorie_supprimer', {'categorie': categorie.id}) }}" class="text-danger fw-semibold">Supprimer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr><td colspan="3">Aucune catégorie à afficher pour l'instant</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-4">
            {{ knp_pagination_render(categories) }}
        </div>
    </div>
{% endblock %}
