{% extends 'base.html.twig' %}

{% block title %}
    Liste des Catégories
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2 class="mb-4">Liste Des Catégories</h2>
        {% include 'categorie/_search_form.html.twig' %}
        <table class="table">
            <tr>
                <th>Nom de la catégorie</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            {% for categorie in categories %}
                <tr>
                    <td>{{ categorie.nom }}</td>
                    <td>{{ categorie.description }}</td>
                    <td>
                        <a href="{{ path('categorie_produits', {'categorie': categorie.id}) }}" >Voir les produits</a> |
                        <a href="{{ path('categorie_new', {'categorie': categorie.id}) }}" class="text-warning">Modifier</a> |
                        <a href="{{ path('categorie_supprimer', {'categorie': categorie.id}) }}" class="text-danger">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <p>Aucune catégorie à afficher pour l'instant</p>
            {% endfor %}
        </table>
        <br>

        <a class="btn btn-primary btn-sm rounded" href="{{ path('categorie_new') }}">Ajouter une categorie</a>

        <div class="d-flex justify-content-center mt-4">
            {{ knp_pagination_render(categories) }}
        </div>
    </div>
{% endblock %}
